theme = "lpgn"
baseURL = "https://leplusgrandnombre.fr"
defaultContentLanguage = "fr"

enableRobotsTXT = true
summaryLength = 30

buildDrafts = false
buildFuture = false

[pagination]
  pagerSize = 10

[taxonomies]
  tag = "tags"
  category = "categories"

[sitemap]
  changefreq = 'weekly'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS"]

