<header class="site-header" role="banner">
  <div class="container site-header__inner">

    <a href="{{ "/" | relLangURL }}" class="site-header__brand">
      {{ .Site.Title }}
    </a>

    <nav role="navigation" aria-label="Menu principal">
      <ul class="site-nav">
        {{- range .Site.Menus.main -}}
        <li>
          <a
            class="site-nav__link"
            href="{{ .URL }}"
            {{- if $.IsMenuCurrent "main" . }} aria-current="page"{{ end -}}
          >{{ .Name }}</a>
        </li>
        {{- end -}}
      </ul>
    </nav>

  </div>
</header>
